<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.placementcell">

    <application
        android:allowBackup="true"
        android:icon="@drawable/student"
        android:label="Placement Cell"
        android:roundIcon="@drawable/student"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".addForumData"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".InsertCompany"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".StudentInfo"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".addForumActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".CompanyDetails"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Company"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Register"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>